.header {
  background: #000;
  overflow: hidden;
  width: 100%;
  z-index: 9999999999999;
  &.v {
    .header__container {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__container {
    transition: all 0.6s ease 0.1s !important;
    opacity: 0;
    transform: translateY(-99%);
    display: flex;
    @include adaptive_value("gap", 80, 40);
    @include adaptive_value("padding-top", 35, 20);
    @include adaptive_value("padding-bottom", 35, 20);
    justify-content: space-between;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #fff;
      z-index: 4;
    }
  }
  svg {
    max-width: 100%;
    path {
      fill: transparent;
      fill: #fff;
      stroke: #fff;
      stroke-width: 0.8px;
      stroke-dasharray: 175;
      stroke-dashoffset: 0;
    }
  }
  &__logo {
    position: relative;
    z-index: 4;
    max-width: 240px;
    flex: 0 1 20%;
    min-width: 130px;
    a {
      display: flex;
      &:hover {
        svg path {
          animation: anim_svg_logo 2.5s linear forwards;
        }
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
    min-height: 100%;
    align-items: center;
  }

  &__list {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
  }

  &__item-list {
    display: flex;
    align-items: center;
    transform: scale(1.1);
    @media screen and (max-width: 1440px) {
      transform: scale(0.9);
    }
    a {
      display: flex;
    }
    a:hover {
      svg path {
        animation: anim_svg 2.5s linear forwards;
      }
    }
  }

  &__burger {
    display: none;
  }
}
.stick {
  position: relative;
  height: 500%;
  width: 2px;
  background: #fff;
  transform-origin: center;
  transform: rotate(35deg);
}
@media screen and (max-width: 1024px) {
  .burger-header {
    z-index: 4;
    @include adaptive_value("font-size", 54, 37);
    height: 0.8em;
    width: 1em;
    display: block;
    align-self: center;
    &__box {
      width: 100%;
      height: 100%;
      position: relative;
    }

    &__stick {
      background: #fff;
      height: 3px;
      position: absolute;
      width: 100%;
      border-radius: 2em;
    }

    &__one {
      top: 0;
      transition: all 0.3s ease 0.15s;
      left: 0;
    }

    &__two {
      transition: all 0.3s ease 0.3s;
      top: 50%;
      left: 0;
      transform-origin: center;
      transform: translateY(-50%);
    }

    &__three {
      transition: all 0.3s ease;
      bottom: 0;
      left: 0;
    }
  }
  .stick {
    display: none;
  }
  .header {
    @media screen and (max-width: 480px) {
      &__container {
        gap: 10px;
      }
      &__logo {
        min-width: 120px;
      }
    }
    overflow: visible;
    &__nav {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        z-index: 3;
      }
    }

    &__list {
      overflow: auto;
      transition: transform 0.75s ease;
      position: relative;
      z-index: 2;
      flex-direction: column;
      justify-content: space-between;
      @include adaptive_value("padding", 70, 40);
      box-shadow: 0px 8px 11px -1px rgba(255, 255, 255, 0.5);
      background: #000;
    }

    &__item-list {
      transform: scale(1.2);
      justify-content: center;

      @media screen and (max-width: 480px) {
        transform: scale(1);
      }
      @include adaptive_value("margin-bottom", 70, 50);
    }
  }
  .header.on {
    .burger-header {
      &__one {
        transition: all 0.3s ease 0.15s;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &__two {
        transition: all 0.3s ease;
        left: 66%;
        opacity: 0;
      }

      &__three {
        transition: all 0.3s ease 0.3s;
        bottom: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, 50%) rotate(45deg);
      }
    }
    .header__list {
      transition: transform 0.75s ease;
      transform: translateY(100%);
    }
  }
}

@keyframes anim_svg {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 175;
    stroke: rgba(255, 255, 255, 0.5);
  }
  80% {
    stroke-dashoffset: 350;
    fill: transparent;
    stroke: #fff;
  }
  100% {
    stroke-dashoffset: 350;
    fill: #fff;
  }
}
@keyframes anim_svg_logo {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 485;
    stroke: rgba(255, 255, 255, 0.5);
  }
  80% {
    stroke-dashoffset: 485 * 2;
    fill: transparent;
    stroke: #fff;
  }
  100% {
    stroke-dashoffset: 485 * 2;
    fill: #fff;
  }
}
