//Нужные значения
$html-font-size: 16px;
$browser-context: 16;
//Значения макета
$maxwidth_layout: 1440;
$mobilewidth_layout: 320;
$container_width: 1180;
//слева и справа по 20 => 40
$conatiner_padding: 60;
$conatiner_padding_mobile: 0;

//шрифты
$font-size: 16px;

//Цвета
$dark-white: #eeeeee;
$white: #fff;
$text: #e0e0e0;
$green: #24b47e;
$dark-bg: #2a2a2a;
$blue: #1374ef;
$fade-blue: #1269d3;
$cyan: #4299e1;
$cyan-fade: #3182ce;
$grey: #666666;
$grey-light: #bbbbbb;
$background: #181818;
//code
$code-grey: #75715e;
$code-blue: #569cd6;
$code-green: #3ecf8e;
