//Нужные значения шрифта
$html-font-size: 16px;
$browser-context: 16;
//Значения макета
$maxwidth_layout: 1920;
$mobilewidth_layout: 320;
$container_width: 1920;
//слева и справа по 20 => 40
$conatiner_padding: 0;
$conatiner_padding_mobile: 0;

//шрифты
$font-size: 18px;

//Цвета
$pink: #c22be1;
$light-pink: #d05ee8;
$dark-pink: #7c06d3;
$Muller: Muller, sans-serif;
$Georgia: Georgia, sans-serif;
