@font-face {
  font-family: Roboto;
  src: url(https://www-denis-www.github.io/common/fonts/Roboto-Black.woff2) format("woff2"),
  url(https://www-denis-www.github.io/common/fonts/Roboto-Black.woff) format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(https://www-denis-www.github.io/common/fonts/Roboto-Regular.woff2) format("woff2"),
  url(https://www-denis-www.github.io/common/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(https://www-denis-www.github.io/common/fonts/Roboto-Bold.woff2) format("woff2"),
  url(https://www-denis-www.github.io/common/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url(https://www-denis-www.github.io/common/fonts/MullerExtraBoldDemo.woff2) format("woff2"),
  url(https://www-denis-www.github.io/common/fonts/MullerExtraBoldDemo.woff) format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
