/* минимальная ширина графика */
:root {
    --chartMinW: 380px ;
}
/* дефолт стили для удобства */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background: #DEE2F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


/* стили блока */ 
/* я задал все в px а не в адаптивных едицах так как не знаю какая сетка ипользуеться на сайте */
.chart-block{
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 28px 50px 45px 50px;
    background: #F5F5FA;
    width: 80%;
    display: flex;
    flex-direction: column;
    /*  */
    max-width: 822px;
    width: 90%;

}
.chart-block__title h2 {
    color: #333346;
    font-size: 25px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.chart-block__box{
    margin-top: 17px;
    flex: 1 1 auto;
    width: 100%;
    height: 264px;   
    position: relative;
    overflow-y: hidden;
    max-width: 100%;
}
.chart-block__chartWrapper {
    height: 100%;
    width: 100%;
    /* ОБЯЗАТЕЛЬНО ОДИНАКОВАЯ МИНИМАЛЬНАЯ ШИРИНА */
    min-width: var(--chartMinW);
}
/* кастомный скролл бар, убираем */
.chart-block__box .simplebar-track.simplebar-horizontal,.chart-block__box .simplebar-track.simplebar-vertical{
    height: 0;
    width: 0;
}

/* кастомный скролл бар если появился скролл, показываем кастомный скролл */
.chart-block__box.simplebar-scrollable-x ~ .chart-scrollbar{
   display: block !important;
}


/*  кастомный скроллбар*/
.chart-scrollbar{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    /* overflow-y: hidden; */
    position: relative;
    display: none !important;

}
 .chart-scrollbar__scroll{
    width: 100%;
    height: 100%;
    /* ОБЯЗАТЕЛЬНО ОДИНАКОВАЯ МИНИМАЛЬНАЯ ШИРИНА */
    min-width: var(--chartMinW);
}
 .chart-scrollbar .simplebar-wrapper{
    border-radius: 5px;
    background: url(./img/scrollbar.jpg) center center;
}
.chart-scrollbar .simplebar-track.simplebar-horizontal{
    height: 100%;
    overflow: visible !important;
    border-radius: 5px;
}
.simplebar-scrollbar{
     opacity: 1 !important;

}
.simplebar-scrollbar::before{
    background: #333346;
    opacity: 0.1 !important;
    border-radius: 5px !important;
}
.chart-custom-thumb{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    position: relative;
}
.chart-custom-thumb::before,
.chart-custom-thumb::after{
    content: '';
    height: 80%;
    width: 9px;
    background: #F289B8;
    border-radius: 5px;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    
}
.chart-custom-thumb::before{
    left: 0;
    transform: translate(-30%,-50%);
}
.chart-custom-thumb::after {
    right: 0;
    transform: translate(30%, -50%);
}
.simplebar-content{
    height: 100%;
}
/* Адаптив, накидал сам так не знаю сетку сайта */
@media screen and (max-width:768px){
    .chart-block {
        padding: 14px 25px 23px 25px;
    }  
    .chart-block__title h2 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .chart-block__box {
        margin-top: 13px;
    }
}
@media screen and (max-width:375px) {
    .chart-block {
        padding: 19px 20px 23px 20px;
    }

    .chart-block__title h2 {
        font-size: 20px;
        /* здадите сами */
        margin-bottom: 30px;
    }

    .chart-block__box {
        margin-top: 30px;
    }
}
