//Нужные значения
$html-font-size: 20px;
$browser-context: 20;
//Значения макета
$maxwidth_layout: 1440;
$mobilewidth_layout: 320;
$container_width: 1420;
//слева и справа по 20 => 40
$conatiner_padding: 60;
$conatiner_padding_mobile: 0;

//шрифты
$font-size: 20px;
$main-ff: "Josefin Sans", sans-serif;
$second-ff: "Cormorant Infant", serif;

//Цвета
$maincolor: #fff;
$grey: #555555;
$light-yellow: #e1b168;
$dark-grey: #292e36;
$background: #fff8f5;
$light-grey: #aaaaaa;
