* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* padding: 20px; */
}

.app {
    position: relative;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.img img {
    width: 100%;
    height: 100%;
}

.road-box {
    position: absolute;
    width: 100%;
    height: 100%;

}

.road__main {
    position: relative;
    width: 100%;
    height: 100%;
}

.road__main .road1,
.road__main .road2 {
    height: 0%;
    width: 0%;
    top: 0%;
    left: 0%;
    /* transition: width .3s linear .1s, height .1s linear .1s; */
}

.road {
    position: absolute;
    background: #000;
    border-radius: 10px;

}

.road-start,
.road-end {
    height: 0%;
    width: 0%;
    top: 0%;
    left: 0%;
}


.road-start {
    /* transition: height .1s linear 0s, width .1s linear 0s; */
}

.road-end {
    /* transition: height .1s linear .6, width .1s linear .6s; */

}

/* select */
.select_road {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;
    background: #00000061;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;

}

.select_road form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.select_road form button {
    padding: 5px;
}

#floor-change {
    font-size: 24px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: visibility 0 linear 1.6s;
    visibility: hidden;

}

#floor-change.show {
    visibility: visible;
}