@use "../support/vars" as *;

.audioAlert.show {
  .audioAlert__container {
    opacity: 1;
  }
}

.audioAlert {
  display: flex;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #000;
  align-items: center;

  &__container {
    height: 100%;
    opacity: 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__icon {
    height: 12em;
    width: 12em;
  }

  &__text {
    max-width: 17em;
    text-align: center;
    font-size: 2.5em;
    line-height: 130%;
    font-family: $Muller;
    color: #fff;
    margin-bottom: 0;

    span {
      font-family: Roboto, sans-serif;
    }
  }
}
