@use "../support/vars" as *;
@use "../support/mixin" as *;

.gameEndScreen {
  position: fixed;
  z-index: 699;
  width: 100%;
  height: 100%;

  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &.show &__toBeContinued {
    animation: animToBe 3s linear 0s forwards;
  }

  &.show &__content {
    transition: opacity 0s ease 2.1s;
    opacity: 1;
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
  }

  &__toBeContinued {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 2;

    img {
      width: 40%;
      pointer-events: none;
    }
  }

  &__logo {
    width: min(20em, 300px);
    height: min(10em, 150px);
    display: block;
    margin-bottom: 2em;
  }

  &__playAgain {

    margin-bottom: 2em;
    font-family: Muller, sans-serif;

    &::before {
      z-index: 0;
    }

    #replay-game-btn {
      font-size: min(2em, 25px);
      padding-top: 0.7em;
      position: relative;
      z-index: 1;
    }
  }

  &__play-pose {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;

    .play-need-pose {
      border-radius: 0.3em;
      border: 1px solid $pink;
      overflow: hidden;
      @include adaptive_value('width', 320, 65);
      @include adaptive_value('height', 208, 42.25);
      background: none;
      padding: 0;
      transition: box-shadow ease 0.3s;

      .img {
        transition: transform ease 0.3s;
        transform: scale(1.05);
      }

      &:hover {
        .img {
          transform: scale(1);
        }

        box-shadow: 0 0 10px 0.1em $pink;
      }
    }
  }
}

@keyframes animToBe {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
