@use "../support/vars" as *;
@use "../support/mixin" as *;
.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
  @include adaptive_value("font-size", 100, 24);
  &.hide {
    display: none;
  }
  button {
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.1em;
  }
}
