@use "../support/vars" as *;
@use "../support/mixin" as *;

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include adaptive_value("font-size", 28, 16);
  gap: 20px;
  background: #000;
  color: #fff;
  letter-spacing: 0.1em;
  z-index: 9999;
  transition: all 1s ease-out;

  &.hide {
    animation: d 1s linear forwards;
  }

  &.hideProgress {
    .preloader__progress {
      opacity: 0;
    }

    .preloader__play {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__logo {
    @include adaptive_value("width", 350, 150);
    @include adaptive_value("height", 175, 75);
    display: block;
    img {
      opacity: 0;
      transition: opacity 2s linear;
    }

    img.anim {
      opacity: 1;
    }
  }

  &__box {
    position: relative;
  }

  &__play,
  &__progress {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    min-width: 210px;
    border-radius: 5px !important;
  }

  &__play {
    transition: opacity 1s linear;
    letter-spacing: 0.1em;
    pointer-events: none;
    opacity: 0;
    position: absolute !important;
  }

  &__play-box {
    width: 100%;
    height: 100%;
    padding-top: 0.57em !important;
    padding-bottom: 0.57em !important;
    position: relative;
    z-index: 1;
  }

  &__progress {
    transition: opacity 1s linear;
    padding: 10px;
    border: 3px solid $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
  }

  &__percent {
    mix-blend-mode: difference;
    color: $pink;
    z-index: 1;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: $pink;
  }
}

@keyframes d {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
