#startBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000;
  .img,
  img {
    pointer-events: none;
  }

  #startBlockButton {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 85%;
    font-size: 1.5em;
    z-index: 1;
    //display: none;
  }
}
