@use "../support/vars" as *;

.warning {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 998;
  display: flex;
  align-items: center;

  &.hide {
    display: none;
  }

  .warning__container {
    width: 100%;
    aspect-ratio: 16/9;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //@include adaptive_value("font-size", 24, 18);
    color: $dark-pink;
    text-align: center;
  }

  .warning__title,
  .warning__old {
    font-size: 4em;
    font-family: Muller, sans-serif;
  }

  .warning__old {
    margin-bottom: 0.5em;
  }

  .warning__text {
    font-family: Muller, sans-serif;
    width: 70%;
    line-height: 120%;
    margin-bottom: 1.5em;
    font-size: 1.3em;

    .fl {
      font-family: Muller, sans-serif;
    }
  }

  .warning__btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease 5s; /*5s*/
    background: none;

    &.show {
      opacity: 1;
      animation: pointerEvents 5s /*5s*/
      linear 0s forwards;
    }
  }

  &__btn-box {
    font-family: Muller, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 0.7em 3em !important;
    padding-top: 1em !important;
    font-size: 1.2em !important;
  }

  .fl::first-letter {
    color: $light-pink;
  }
}

@keyframes pointerEvents {
  0% {
    pointer-events: none;
  }
  99% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
