.clickItem {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  animation: anim 2s linear infinite forwards;
  z-index: 202;
  position: absolute;

  filter: drop-shadow(0px 0px 7px #fff);
  transition:
    all 0.3s,
    opacity 0.5s linear;
  @media only screen and (max-width: 768px) {
    &:active {
      filter: drop-shadow(0px 0px 15px #fff) drop-shadow(0px 0px 7px #fff);
    }
  }
  @media only screen and (min-width: 768px) {
    &:hover {
      filter: drop-shadow(0px 0px 15px #fff) drop-shadow(0px 0px 7px #fff);
    }
  }
  &.show {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }

  &.clicked {
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
