#fade,
#fastFade {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 600;
  opacity: 0;
  //transition: opacity 1s linear;
  top: 0;
  left: 0;

  &.show {
    //transition: opacity 1s linear;
    //opacity: 1;
    pointer-events: all;
  }
}

#fastFade.show {
  //transition: opacity 0s linear;
  //opacity: 1;
  pointer-events: all;
}
