@use "../support/vars" as *;
@use "../support/mixin" as *;
.gameInterface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 301;
  display: none;

  &.show {
    display: block;
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  &__btns {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    gap: 0.6em;

    button:last-child {
      margin-top: 1em;
    }

    button.active:not(:disabled) {
      box-shadow: 0 0 0.3125em 0.125em $pink;

      &:hover::before {
        width: 98%;
        height: 98%;
      }
    }

    button {
      display: none;

      &::before {
        display: none;
      }
    }

    button.use {
      display: block;

      &::before {
        display: block;
      }
    }
  }

  &__progress {
    width: 3.5em;
    height: 70%;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
  }
}


.progress-gameInterface {
  .progress-gameInterface__progress.reset {
    transition: height 0s linear;
  }

  &__border {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    border: 0.3em solid $pink;
    background: #000;
  }

  &__progress {
    position: absolute;
    width: 100%;
    background: $pink;
    transition: height 0.4s linear;
    bottom: 0;
    height: 0%;
    border-radius: 0.5em;
    border-top-right-radius: 1.3em;
    border-top-left-radius: 1.3em;
  }
}
