#lightening {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 499;
  opacity: 0;

  &.end {
    animation: animLighting 1s linear 0s forwards;
  }
  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes animLighting {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
