@use "../support/vars" as *;
@use "../support/mixin" as *;
button.map-btn {
  position: absolute;
  z-index: 801;
  @include adaptive_value("font-size", 42, 18);
  letter-spacing: 0.1em;
  color: #fff;
  top: 2%;
  left: 1%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in;
  border-radius: 0.2em;
  @media only screen and (max-width: 768px) {
    &:active::before {
      transform: translate(-50%, -50%) scale(1.1) !important;
      width: 99%;
      height: 99%;
    }
  }
  @media only screen and (min-width: 768px) {
    &:hover::before {
      transform: translate(-50%, -50%) scale(1.1) !important;
      width: 99%;
      height: 99%;
    }
  }
}

button.map-btn.show {
  opacity: 1;
  pointer-events: all;
}
