@use "../support/vars" as *;

.change-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &__next,
  &__continue {
    cursor: pointer;
    position: absolute;
    display: none;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
  }

  &.continue &__continue {
    display: block;
  }

  &.next &__next {
    display: block;
  }

  &__next {
    bottom: 1.5%;
    right: 2.5%;
    font-size: 1.2em;
  }

  &__continue {
    bottom: 1.5%;
    right: 3.5%;
    font-size: 3em;
    width: 5.2%;
    height: 7.4%;
    background: $pink;
    border-radius: 0.1em;

    .change-btn__arrow {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      position: relative;

      object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.next-btn {
  &__box {
    position: relative;
    color: #fff;
    text-transform: uppercase;

    border-radius: 0.3125em 0 0 0.3125em;
    background: $pink;
    padding: 0.5em;

    &::before {
      border-radius: 0.3125em 0.2em 0.2em 0.3125em;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #fff;
      transition: scale .3s;
      z-index: -1;
    }

    &:hover::before {
      scale: 1.1;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: center;
    transform: translate(96%, -50%);
    height: 100%;
    width: 0.85em;
    background: $pink;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform-origin: center;
    transform: scale(1) translate(96%, -50%);
    height: 100%;
    background: #fff;
    width: 0.85em;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transition: transform .3s;
    z-index: -1;
  }

  &:hover::before {
    transform: translate(115%, -50%) scale(1.1);
  }

}

.continue-btn {

  &:hover &__box::before {
    scale: 1.1;
  }

  &__box {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    padding: min(0.15em, 9px);
    padding-right: min(0.1em, 6px);
    border-radius: 0.1em;

    &::before {
      border-radius: 0.11em;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #fff;
      transition: scale .3s;
      z-index: -1;
    }
  }
}
