.spine-scene {
  position: absolute;
  width: 100%;
  height: 100%;
  .spine__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
