@use "sass:math";
@use "../support/vars" as *;

.talk {
  position: absolute;
  z-index: 500;
  width: 25%;
  background: #fff;
  border-radius: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  //outline: 0.15em solid #000;
  box-shadow: 0 0 0 0.15em #000;

  &.talking {
    pointer-events: all;
    opacity: 1;
  }

  &.fastHide {
    transition: opacity 0s ease;
  }
  &.visual{
    border-radius: 50%;
  }
  &.visual &__box {
    padding: 0;
  }

  &__visual {
    border-radius: 50%;
    overflow: hidden;
  }

  &__box {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0.75em;
    min-height: 2.65em;

  }

  &__text {
    p {
      line-height: 115%;
      margin: 0;
    }
  }

  &__arrow {
    position: absolute;
    width: 1em;
    height: 1em;
  }

  &__arrow::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: #000;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  &__arrow::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: #fff;
    bottom: 0.26em;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  &.none &__arrow {
    display: none;
  }

  &.largeMessage {
    box-shadow: none;
    background: rgba(0, 0, 0, 0);

    .talk__box {
      padding: 0em;
    }

    .talk__arrow {
      display: none;
    }

    .talk__text {
      font-size: 0.9em;
      font-weight: 600;
      color: #905b37;

      p {
        font-family: $Georgia;

        p {
          margin-bottom: 1em;
        }
      }
    }
  }

  &.bl &__arrow {
    top: 100%;
    left: 5%;
  }

  &.bl45 &__arrow {
    bottom: -1%;
    left: -6%;
    rotate: 45deg;
    translate: 50% 50%;
  }

  &.br &__arrow {
    top: 100%;
    right: 5%;
  }

  &.br45 &__arrow {
    bottom: 0;
    left: 94%;
    rotate: -45deg;
    translate: 50% 50%;
  }

  &.bc &__arrow {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &.cl &__arrow {
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%) rotate(90deg);
  }

  &.cr &__arrow {
    top: 50%;
    left: 100%;
    transform: translate(0, -50%) rotate(-90deg);
  }

  &.tl &__arrow {
    top: -1%;
    left: 3%;
    transform: translate(-100%, -50%) rotate(135deg);
  }

  &.tc &__arrow {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(180deg);
  }

  &.thinkR,
  &.thinkRC,
  &.thinkL,
  &.thinkLC {
    .talk__arrow {
      display: none;
    }

    .talk__box::before,
    .talk__box::after {
      content: "";
      position: absolute;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 0.15em #000;
    }
    .talk__box::before {
      width: 1.75em;
      height: 1em;
      bottom: -1.35em;
      left: 1.75em;
    }

    .talk__box::after {
      width: 1.125em;
      height: 0.8em;
      bottom: -2.5em;
      left: 1em;
    }
  }
  &.thinkR {
    .talk__box::before {
      left: auto;
      right: 1.75em;
    }

    .talk__box::after {
      left: auto;
      right: 1em;
    }
  }

  &.thinkLC,&.thinkRC  {
    .talk__box::before {
      bottom: calc(50% - 0.5em);
      left: -2.2em;
    }

    .talk__box::after {
      bottom: calc(50% - 1em);
      left: -3.5em;
    }
  }


  &.thinkRC {
    .talk__box::before {
      left: auto;
      right: -2.2em;
    }

    .talk__box::after {
      left: auto;
      right: -3.5em;
    }
  }
  &.videoThinkLC{
    .talk__arrow {
      display: none;
    }

    .talk__box::before,
    .talk__box::after {
      content: "";
      position: absolute;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 0.15em #000;
    }

    .talk__box::before {
      width: 1.75em;
      height: 1em;
      bottom: calc(50% - 1.6em);
      left: -4.2em;
    }

    .talk__box::after {
      width: 1.125em;
      height: 0.8em;
      bottom: calc(50% - 2.4em);
      left: -5.2em;
    }
    .talk__bigCircle{
      position: absolute;
      bottom: calc(50% - 0.6em);
      left: -2.8em;
      width: 2.375em;
      height: 1.2em;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 0 0.15em #000;
    }
  }
}