@use "../support/vars" as *;
@use "../support/mixin" as *;

.watermark {
  z-index: 700;

  position: absolute;
  bottom: 1.5%;
  left: 0.4em;
  display: block;
  width: 4.5em;
  height: 2.25em;
  opacity: 0.65;

  &.hide {
    display: none;
  }
}
